NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DISABLE_TRIAL_MODE=true
FIREBASE_ADMIN_SDK_KEY=
GOOGLE_AI_API_KEY=
GOOGLE_CLOUD_PROJECT_ID=seismic-envoy-486214-b5
VERTEX_AI_LOCATION=us-central1
VERTEX_AI_INDEX_ENDPOINT=
DOCUMENT_AI_PROCESSOR_ID=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
CRON_SECRET=
NEWS_API_KEY=
